{% extends "base.html" %}

{% block content %}

<style>
    p{
        font-size: 18px; 
        color: #333;
    }
    h1{
        font-weight: bold; 
        text-shadow:#1976d2 1px 1px 5px;
        text-align:center; 
        color:#1e015e; 
        margin-bottom: 20px;
    }
    h2{ 
        color:#1976d2; 
        margin-top: 32px;
        } 
</style>

<div style="max-width: 900px; margin: 40px auto; background: #fff; padding: 36px 32px; border-radius: 12px; box-shadow: 0 2px 16px #e3e3e3;">
    <h1>Seller Dashboard</h1>
 
</div>


{% endblock %}
